/*
mise en page de la section des produits
*/
.css-section{
    background: orange;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
mise en page de h2
*/
.css-h2{
    border: 1px dashed white;
    padding: 5px;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    background: darkgreen;
}

/*
mise en page de la card du produit doudou
*/
.css-card{
    border: 1px solid white;
    border-radius: 20px;
    background: lightgrey;
}
